body{
    background-image: url("https://img.freepik.com/free-vector/beautiful-gradient-spring-landscape_23-2148448598.jpg?t=st=1702448527~exp=1702449127~hmac=de80bd3546b88b681555ae84eea81783a9308134338081ec57e0b42182a4c967");
    background-repeat: no-repeat;
    background-size: cover;
}